*.js
!jest.config.js
*.d.ts
node_modules
.log

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
.yarn/cache
.yarn/install-state.gz
.ask
accountLinking.json
